<div class="jumbotron text-center">
    <h1>About Page</h1>
    <p>{{ message }}</p>
</div>

<div class="container">
	<div class="col-md-8 col-md-offset-2">
		<h2> How it works </h2>
		<p>These cards are simple.  They prove your manhood.  The holes in the back are to be punched when you do something unmanly.  The QR code is for you the puncher to submit so that all other men can see what you have done to deserve the punch.  All of the offenses are below.</p>
	</div>
</div>

  

    
  <div ng-controller="OffensesController">
    <div id="authorize-div" style="">
      <span>Authorize access to Google Sheets API</span>
      <!--Button for the user to click to initiate auth sequence -->
      <!-- <button id="authorize-button" onclick="handleAuthClick(event)"> -->
      <button id="authorize-button" ng-click="click()">
        Authorize
      </button>
    </div>
    <!-- <button ng-click="test()">Test</button> -->
      <div class="container" id="offenses" >
        <table id="entries">
        	<tr>
        		<th class="col-md-2">Offender</th>
        		<th class="col-md-10">Offense</th>
        	</tr>
        	<tr ng-repeat="obj in data">
        		<td>{{ obj.offender }}</td>
        		<td>{{ obj.offense }}</td>
        	</tr>

        <!-- <tr>
          <th class="col-md-2">Offender</th>
          <th class="col-md-10">Offense</th>
        </tr>
        <tr id="entry">

        </tr> -->
        </table>
      </div>
    </div>